@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  width: 100%;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  font-family: "Montserrat", sans-serif;
}

/* width */
::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: rgb(254, 254, 254, 0.6);
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #717744;
  border-radius: 20px;
}

textarea:focus,
input:focus,
select:focus {
  outline: none;
}

.title {
  font-family: "Lora", serif;
}

.social-media-link svg {
  width: auto;
  height: 2em;
}
.social-media-link svg path {
  fill: #fefefe;
}

.success-icon svg,
.error-icon svg {
  width: auto;
  height: 1.5em;
}
.success-icon svg path {
  fill: #3dd598;
}
.error-icon svg path {
  fill: #fc5a5a;
}

.shop-item svg {
  width: auto;
  height: 1em;
}
.shop-item svg path {
  fill: #373d20;
}

.mode-icon svg {
  width: auto;
  height: 1em;
}
.mode-icon svg path {
  fill: rgb(8, 8, 8, 0.6);
}

.grid-row-autofit {
  grid-template-rows: repeat(auto-fit, minmax(440px, 1fr));
}
.product-icon svg {
  width: auto;
  height: 1.2em;
}

.logo-icon svg path {
  fill: #fefefe;
}

.logo-icon.backstage svg path {
  fill: rgb(8, 8, 8, 0.8);
}

.nav-icon svg {
  width: auto;
  height: 1.2em;
}
.nav-icon svg path {
  fill: #fefefe;
}
.nav-icon:hover svg path {
  fill: #e8d9cd;
}

/* nav-toggle */
.nav-toggle:checked ~ nav {
  transform: scale(1, 1);
}
.nav-toggle:checked ~ nav .nav-item {
  opacity: 1;
}

nav {
  transform: scale(1, 0);
  transform-origin: top;
  transition: transform 0.2s ease-out;
}
nav .nav-item {
  opacity: 0;
}

.bag-dropdown:hover #bag-list {
  display: inline-block;
}
.wish-dropdown:hover #wish-list {
  display: inline-block;
}

.delete-icon svg {
  width: auto;
  height: 1.2em;
}
.delete-icon svg path {
  fill: rgb(113, 119, 68, 0.6);
}
.delete-icon:hover svg path {
  fill: rgb(55, 61, 32, 0.8);
}



@media screen and (min-width: 720px) {
  /* nav{
    all: unset;
  } */
  nav .nav-item {
    opacity: 1;
  }
}

/* :root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}
a:hover {
  color: #535bf2;
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  cursor: pointer;
  transition: border-color 0.25s;
}
button:hover {
  border-color: #646cff;
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
} */
